@{
    bool Authenticated = Context.User.Identity.IsAuthenticated;
    bool isAdmin = Context.User.IsInRole("Administrator");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CTrace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @* CUI *@
    <link rel="stylesheet" href="~/cui/css/simplebar.css">
    <link rel="stylesheet" href="~/cui/css/simplebar_v.css">
    <link rel="stylesheet" href="~/cui/css/style.css">
    <link rel="stylesheet" href="~/cui/css/coreui-chartjs.css">
</head>

<body>
    <div class="sidebar sidebar-dark sidebar-fixed sidebar-self-hiding-xl" id="sidebar">
        <div class="sidebar-brand d-none d-md-flex">
            <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
                <use xlink:href="/cui/assets/svg/coreui.svg#full"></use>
            </svg>
            <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
                <use xlink:href="/cui/assets/svg/coreui.svg#signet"></use>
            </svg>
        </div>
        <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <svg class="nav-icon">
                        <use xlink:href="/cui/assets/svg/free.svg#cil-speedometer"></use>
                    </svg>Dashboard<span class="badge bg-info-gradient ms-auto"></span>
                </a>
            </li>
            @if (isAdmin)
            {
                <li class="nav-title">Admin Options</li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="Index">
                        <svg class="nav-icon">
                            <use xlink:href="/cui/assets/svg/free.svg#cil-people"></use>
                        </svg>Report Contact
                    </a>
                </li>
            }
            @if (Authenticated && !isAdmin)
            {
                <li class="nav-title">User Options</li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="User" asp-action="Index">
                        <svg class="nav-icon">
                            <use xlink:href="/cui/assets/svg/free.svg#cil-group"></use>
                        </svg>Contacts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="User" asp-action="Contact">
                        <svg class="nav-icon">
                            <use xlink:href="/cui/assets/svg/free.svg#cil-user-plus"></use>
                        </svg>Add Contact
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="User" asp-action="detection">
                        <svg class="nav-icon">
                            <use xlink:href="/cui/assets/svg/free.svg#cil-bed"></use>
                        </svg>Report Detection
                    </a>
                </li>
            }
            <li class="nav-item mt-auto">
                <a class="nav-link" asp-controller="Home" asp-action="About">
                    <svg class="nav-icon">
                        <use xlink:href="/cui/assets/svg/free.svg#cil-description"></use>
                    </svg>About
                </a>
            </li>
        </ul>
        <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>

    <div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
        <header class="header header-sticky mb-4">
            <div class="container-fluid">
                <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
                    <svg class="icon icon-lg">
                        <use xlink:href="/cui/assets/svg/free.svg#cil-menu"></use>
                    </svg>
                </button>
                <a class="header-brand d-md-none" href="#">
                    <svg width="118" height="46" alt="CoreUI Logo">
                        <use xlink:href="/cui/assets/svg/coreui.svg#full"></use>
                    </svg>
                </a>
                <ul class="header-nav d-none d-md-flex">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Dashboard</a>
                    </li>
                    @if (Authenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#">Users</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Settings</a>
                        </li>
                    }
                </ul>
                <nav class="header-nav ms-auto me-4">
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <input class="btn-check" id="btn-light-theme" type="radio" name="theme-switch" autocomplete="off" value="light" onchange="handleThemeChange(this)">
                        <label class="btn btn-primary" for="btn-light-theme">
                            <svg class="icon">
                                <use xlink:href="/cui/assets/svg/free.svg#cil-sun"></use>
                            </svg>
                        </label>
                        <input class="btn-check" id="btn-dark-theme" type="radio" name="theme-switch" autocomplete="off" value="dark" onchange="handleThemeChange(this)">
                        <label class="btn btn-primary" for="btn-dark-theme">
                            <svg class="icon">
                                <use xlink:href="/cui/assets/svg/free.svg#cil-moon"></use>
                            </svg>
                        </label>
                    </div>
                </nav>
                @* Notification Menu *@
                @if (Authenticated)
                {
                    <ul class="header-nav me-3">
                        <li class="nav-item dropdown d-md-down-none">
                            <a class="nav-link" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <svg class="icon icon-lg my-1 mx-2">
                                    <use xlink:href="/cui/assets/svg/free.svg#cil-bell"></use>
                                </svg><span id="notifcount" class="badge rounded-pill position-absolute top-0 end-0 bg-danger-gradient d-none"></span>
                            </a>
                            <div id="notifmenu" class="dropdown-menu dropdown-menu-end dropdown-menu-lg pt-0">
                                <div id="notifmessage" class="dropdown-header bg-light">
                                    <strong>You have 5 notifications</strong>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="header-nav me-4">
                        <li class="nav-item dropdown d-flex align-items-center">
                            <a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <div class="avatar avatar-md" style="background-color:darkgray">
                                    <p class="m-0 p-0" style="font-size:20pt;color:whitesmoke;font-weight:bold">
                                        @Context.User.Claims.First(p => p.Type == "FullName").Value.Substring(0, 1)
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end pt-0">
                                <a class="dropdown-item" href="#">
                                    <svg class="icon me-2">
                                        <use xlink:href="/cui/assets/svg/free.svg#cil-user"></use>
                                    </svg>Change Password
                                </a>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                    <svg class="icon me-2">
                                        <use xlink:href="/cui/assets/svg/free.svg#cil-account-logout"></use>
                                    </svg> Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="header-nav me-4">
                        <li class="nav-item dropdown d-flex align-items-center">
                            <a class="nav-link py-0" asp-action="login" asp-controller="Account" role="button" aria-haspopup="true" aria-expanded="false">
                                <div class="avatar avatar-md">
                                    <img class="avatar-img" src="~/cui/assets/img/avatars/pp.png" alt="U">
                                </div>
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </header>
        <div class="body flex-grow-1 px-3">
            <div class="container-lg">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    <script>
        if (document.body.classList.contains('dark-theme')) {
            var element = document.getElementById('btn-dark-theme');
            if (typeof (element) != 'undefined' && element != null) {
                document.getElementById('btn-dark-theme').checked = true;
            }
        } else {
            var element = document.getElementById('btn-light-theme');
            if (typeof (element) != 'undefined' && element != null) {
                document.getElementById('btn-light-theme').checked = true;
            }
        }

        function handleThemeChange(src) {
            var event = document.createEvent('Event');
            event.initEvent('themeChange', true, true);

            if (src.value === 'light') {
                document.body.classList.remove('dark-theme');
            }
            if (src.value === 'dark') {
                document.body.classList.add('dark-theme');
            }
            document.body.dispatchEvent(event);
        }
    </script>
    <script src="~/cui/js/coreui.bundle.min.js"></script>
    <script src="~/cui/js/simplebar.min.js"></script>
    <script src="~/cui/js/chart.min.js"></script>
    <script src="~/cui/js/coreui-chartjs.js"></script>
    <script src="~/cui/js/coreui-utils.js"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(() => {
            if ($('#notifcount').length > 0) {// Load only if authenticated
                $.get("@Url.Action("Notification", "User")", function (data, status) {
                    if (Array.isArray(data) && data.length > 0) {
                        $('#notifcount').removeClass('d-none');
                        $('#notifcount').text(data.length)
                        $('#notifmessage strong').text(`You have ${data.length} new notification`)
                        data.forEach(notif => {
                            $('#notifmenu').append(`
                                <a class="dropdown-item" href="${notif.notif_redirect}">
                                    <svg class="icon me-2 text-success">
                                        <use xlink:href="/cui/assets/svg/free.svg#cil-user-follow"></use>
                                    </svg>${notif.notif_text}
                                </a>`)
                        });
                    } else {
                        $('#notifmenu a').remove();
                        $('#notifcount').addClass('d-none');
                        $('#notifcount').text("");
                        $('#notifmessage strong').text(`You have no notification`);
                    }
                });
            }
        });
    </script>
</body>
</html>